<h1><%=@song.name%> Artist</h1>


    <h3>Artist Name: <a href="/artists/<%=@song.artist.slug%>"><%= @song.artist.name %></a></h3>
    
    <br>

    <h3>Song Genre's</h3>
    <%@song.genres.each do |genre|%>
    <h3><a href="/genres/<%=genre.slug%>"><%= genre.name %></a></h3>
    <%end%>
    
   
